// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-container{
  margin-top: 5%;
  margin-left: 5%;
  border: 2px dotted black;
}

.chat-list{
  height: 500px;
}

.message-container{

}

.messages-list{
  height: 450px;
}

.messages-list-item{

}
